.git
.github
.vscode
build
docs
tests
deployment_tools
apps/*
!apps/phuEGOweb
apps/phuEGOweb/support_data
apps/phuEGOweb/results
apps/phuEGOweb/databases
apps/phuEGOweb/__pycache__
apps/phuEGOweb/static/js/node_modules
apps/phuEGOweb/static/js/src/node_modules
**/__pycache__
**/*.pyc
**/.DS_Store
**/._*
**/.pytest_cache
